@keyframes runAnimation {
    from { left: 100%; }
    to { left: -100%; } /* двигаем текст обратно в начальную позицию */
}
@keyframes run {
    0% { text-indent: 0; }
    100% { text-indent: -100%; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .header {
    height: 700px;
    width: 100%;
    padding-top: 30px;
    background-image: url(img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 20px;
    height: 30px;
}

.header__logo_name {
    display: flex;
    flex-direction: column;
}

.logo__text {
    width: 146px;
    padding-left: 5px;
    font-family: Golos Text;
    font-weight: 700;
    font-size: 14px;
    color: #595653;
}

.header__main {
    width: 542px;
    height: 445px;
}

.header__title_one {
    margin-top: 62px;
    text-align: start;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 60px;
    color: #313131;
}

.header__title_two {
    text-align: center;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 60px;
    color: #313131;
}

.header__title_info {
    margin-top: 24px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 18px;
}

.header__buttons {
    display: flex;
    gap: 16px;

}

.header__button_one {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    width: 264px;
    height: 72px;
    border: 1px solid #1F1F1F;
    border-radius: 50px;
    background-color: #1F1F1F;
    color: #fff;
    text-align: center;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s;
}

.header__button_two {
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    width: 264px;
    height: 72px;
    border: 1px solid #1F1F1F;
    border-radius: 50px;
    background-color: transparent;
    color: #1F1F1F;
    text-align: center;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s;
}

.header__bottom {
    padding-top: 15px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #F54932;
    color: #fff;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 22px;
}
  
.running-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
  
#running-text {
    display: inline-block;
    animation: run 15s linear infinite;
}

.header__button_one:hover {
    border: 1px solid #FBCE51;
    background-color: #FBCE51;
    color: #1F1F1F;
}

.header__button_two:hover {
    background-color: #1F1F1F;
    color: #fff;
}

.main__session_human {
    margin-right: 50px;
    width: 474px;
    height: 527px;
}

.main__session {
    margin-top: 80px;
}

.main__session_chess {
    margin-bottom: 80px;
    margin-top: 90px;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.main__session_text {
    position: relative;
    max-width: 764px;
    font-family: Merriweather;
    font-weight: 400;
    font-size: 36px;
    color: #313131;
}

.main__session_img {
    position: absolute;
    top: -30px;
    right: -420px;
}

.highlight {
    color: #F54932;
}

.main__session_tabl {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__session_link {
    font-family: Golos Text;
    font-weight: 400;
    font-size: 20px;
    color: #3057A2;
}

td {
    height: 56px;
    padding: 10px;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 20px;
    color:#313131;
}

.custom__table {
    border-collapse: collapse;
}

.tabl__border {
    box-sizing: border-box;
    width: 320px;
    border-right: 2px solid #D0D0D0;
}

.tabl_text {
    max-width: 404px;
    font-weight: 600;
}

.tabl_post {
    border-bottom: 2px solid #D0D0D0;
}

.cross_out {
    text-decoration: 2px line-through #F54932;
}

.main__levels {
    margin-top: 170px;
}

.main__levels_title {
    position: relative;
    width: 806px;
    height: 130px;
    text-align: start;
}

.main__levels_title_main {
    font-family: Merriweather;
    font-weight: 400;
    font-size: 54px;
    color: #313131;
}

.main__levels_title_low {
    position: absolute;
    top: 76px;
    left: 300px;
    width: 280px;
    height: 48px;
    color: #3057A2;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 20px;
}

.main__levels_block {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__levels_five {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.main__levels_num {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__level_one {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: 110px;
    background-image: url(img/1-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_two {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: 110px;
    background-image: url(img/2-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_four {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: 110px;
    background-image: url(img/4-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_fives {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: 110px;
    background-image: url(img/5-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_six {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: 136px;
    background-image: url(img/6-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_cub {
    padding-top: 20px;
    padding-left: 20px;
    width: 394px;
    height: auto;
    background-image: url(img/ааааа-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.main__level_long {
    padding-top: 20px;
    padding-left: 20px;
    width: 803px;
    background-image: url(img/7-Photoroom.png);
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 20px;
}

.level_round {
    padding-top: 2px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 60px;
    text-align: center;
    font-family: Golos Text;
    color: #313131;
    font-weight: 600;
    font-size: 20px;
}

.level_round_txt {
    width: 270px;
    height: auto;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 18px;
    color: #313131;
    line-height: 24px;
}

.level_round_txt_three {
    width: 207px;
    height: auto;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 18px;
    color: #313131;
    line-height: 24px;
}

.level_round_txt_six {
    width: 302px;
    height: auto;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 18px;
    color: #313131;
    line-height: 24px;
}

.level_round_txt_seven {
    position: relative;
    width: 400px;
    height: auto;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 18px;
    color: #313131;
    line-height: 24px;
}

.airplane_img {
    position: absolute;
    top: -120px;
    left: 370px;
    transform: rotate(1.31deg);;
}

.main__bottom_block {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 16px;
}

.main__button_left {
    cursor: pointer;
    width: 44px;
    height: 44px;
    border: 1px solid #313131;
    border-radius: 60px;
    background-color: #313131;
    transition: all .3s;
}

.main__button_left:hover {
    border: 1px solid #FBCE51;
    background-color: #FBCE51;
}

.left {
    background-image: url(img/left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.right {
    background-image: url(img/right.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.main__bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.main__player_line {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}


#playerWrapper {
    width: 1220px;
    margin-bottom: 140px;
    overflow: hidden; 
}

#playerLine {
    display: flex;
    width: calc((394px + 20px) * 6); 
    overflow: hidden; 
    transition: transform 0.5s ease; 
}

.main__player {
    float: left;
    margin-right: 30px;
    margin-top: 64px;
    padding-left: 36px;
    padding-left: 36px;
    width: 394px;
    height: 482px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__player_photo {
    width: 320px;
    height: 320px;
    
}

.main__player_name {
    font-family: Golos Text;
    font-weight: 600;
    font-size: 24px;
    color: #313131;
}

.main__player_rank {
    font-family: Golos Text;
    font-weight: 400;
    font-size: 20px;
    color: #313131;
}

.main__button_left:disabled {
    background-color: rgb(165, 164, 164);
    border-color: rgb(165, 164, 164);
    cursor: not-allowed;
}

.main__player_button {
    cursor: pointer;
    width: 113px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #3057A2;
    border-radius: 50px;
    color: #3057A2;
    text-align: center;
    font-family: Golos Text;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s;
}

.main__player_button:hover {
    background-color: #3057A2;
    color: #fff;
}

footer {
    height: 150px;
    width: 100%;
    color: #E9DED4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_h3 {
    padding-left: 72px;
    padding-right: 72px;
    font-family: Golos Text;
    font-weight: 400;
    font-size: 16px;
    color: #313131;
}

.mobile__levels {
    display: none;
}

.mobile__levels_button {
    display: none;
}

@media (max-width: 375px) {
    .center {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header {
        height: 812px;
        padding-top: 18px;
    }
    .logo {
        width: 19px;
        height: 27px;
    }
    .header__main {
        width: 335px;
        height: 160px;
    }
    .header__title_one {
        margin-top: 40px;
        font-size: 36px;
    }
    .header__title_two {

        font-size: 36px;
    }
    .header__title_info {
        text-align: start;
        font-size: 18px;
    }
    .header__buttons {
        flex-direction: column;
        gap: 14px;
    }
    .header__button_one {
        width: 335px;
        height: 47px;
    }
    .header__button_two {
        width: 335px;
        height: 47px;
        background-color: #ffffff73;
        border-color: #ffffff73;
        color: #313131;
    }
    .main__session {
        margin-top: 48px;
    }
    .main__session_chess {
        margin-top: 48px;
        margin-bottom: 34px;
        flex-direction: column;
    }
    .main__session_text {
        display: flex;
        flex-direction: column;
        font-size: 28px;
    }
    .main__session_img {
        width: 315px;
        height: 212px;
        position: static; 
        top: 0;
        right: auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .main__session_human {
        width: 360px;
        height: 410px;
    }
    .tabl_post {
        border-right: none;
        border: none;
    }
    .tabl_text .tabl__border {
        padding: 0;
        margin: 0;
        width: 335px;
        border: none;
        font-size: 20px;
    }
    td {
        height: 40px;
        padding: 0;
    }
    .tabl_text {
        padding: 0;
        margin: 0;
        max-width: 404px;
        font-weight: 600;
    }
    .tabl_post {
        padding: 0;
        margin: 0;
        border: none;
    }
    .mobile__border {
        border-bottom: 2px solid #D0D0D0;
    }
    .tabl__border {
        color: #595653;
        padding-top: 8px;
    }
    .mobile {
        padding: 0;
        padding-top: 8px;
        margin: 0;
        border: none;
    }
    .custom__table td {
        display: block;
    }
    .main__levels {
        margin-top: 120px;
    }
    .main__levels_title {
        margin-bottom: 12px;
        width: auto;
        height: auto;
    }
    .main__levels_title_main {
        font-size: 36px;
    }
    .main__levels_title_low {
        position: static; 
        top: 0;
        right: auto;
        width: 335px;
        font-size: 18px;
    }
    .main__levels_num {
        display: none;
    }
    .main__level_cub {
        display: none;
    }
    .main__level_six {
        display: none;
    }
    .main__level_long {
        display: none;
    }
    .level_round {
        display: none;
    }
    .level_round_txt_seven {
        display: none;
    }
    .airplane_img {
        width: 335px;
        height: 182px;
        top: -110px;
        left: 0px;
        transform: rotate(1.31deg);;
    }
    .mobile__levels {
        margin-top: 25px;
        position: relative;
        width: 335px;
        height: 300px;
        background-image: url(img/level_1.svg);
        display: block;
        transition: background-image 0.5s ease;
    }
    .mobile__levels_button {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .button__left_mobile {
        cursor: pointer;
        width: 44px;
        height: 44px;
        border: 1px solid #313131;
        border-radius: 60px;
        background-color: #313131;
        transition: all .3s;
    }
    .button__left_mobile:hover {
        border: 1px solid #FBCE51;
        background-color: #FBCE51;
    }
    .lev {
        background-image: url(img/left.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .rig {
        background-image: url(img/right.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .button__left_mobile:disabled {
        background-color: rgb(165, 164, 164);
        border-color: rgb(165, 164, 164);
        cursor: not-allowed;
    }
    .button__check {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .button__check_point {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        transition: all .3s;
    }
    .active {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        background-color: #313131;
        border: 1px solid #313131;
        border-radius: 5px;
        transition: all .3s;
    }

}